@import url(./reset.css);
@import url(../icons/style.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@300;700&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
  --orange: #ff9b51;
  --black: #000;
  --white: #fff;
  /* --graydark: #333333; */
  --graydark: #b0b0b0;
  --graylight: #f5f5f5;
  --gray: #ccc;
}
body {
  background-color: yellow;
}
header {
  background-color: var(--black);
}
a {
  text-decoration: none;
  color: var(--white);
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main,
section {
  padding: 139px 0;
}
nav ul {
  display: flex;
}
nav ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
nav ul li a {
  display: block;
  height: 100%;
  padding: 28px 24px 28px 24px;
  color: var(--graydark);
}
main {
  position: relative;
  width: 50%;
}
main img {
  display: block;
  position: absolute;
  top: 110px;
  left: 0;
}
main h1 {
  position: relative;
  margin-top: 54px;
  padding-bottom: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--white);
}
main h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 3px;
  height: 2px;
  width: 64px;
  background-color: var(--white);
}
main p {
  width: 90%;
  margin-top: 35px;
  margin-bottom: 42px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
}
main a {
  display: inline-block;
  margin-left: 2px;
  border: 2px solid var(--white);
  padding: 11px 29px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
